{% extends 'edit/edit_base.html' %}
{% block rightBoxContent %}
    <form action="{{ url_for('edit.edit_company') }}" method="post">
        <div>
            <label for="search_name">Search</label>
            <input name="search_name" id="search_name" required  placeholder="Search for company...">
            <input type="submit" name="action" value="Search">
        </div>
    </form>
    <form  action="{{ url_for('edit.edit_company') }}" method="post">
        {% if company %}
            {% if company['Company_ID'] %}
                <input type="hidden" name="company_id" value="{{ company['Company_ID'] }}">
            {% endif %}
            <div>
                <label for="company">Company Name</label>
                <input name="company" id="company" value="{{ company['Company_Name'] }}" required>
                {% if company['Company_ID'] %}
                    <input type="submit" name="action" value="Update">
                    <input type="submit" name="action" value="Remove">
                {% else %}
                    <input type="submit" name="action" value="Save">
                {% endif %}

            </div>
            <div class="location">
                <label>Location Address</label>
                <input name="location_country" value="{{ company['Location_Country'] }}" placeholder="country">
                <input name="location_city"  value="{{ company['Location_City'] }}" placeholder="city">
                <input name="location_street" value="{{ company['Location_Street'] }}" placeholder="street">
                <input name="location_post_code" value="{{ company['Location_Post_Code'] }}" placeholder="post code">
            </div>
            <div class="postal">
                <label>Postal Address</label>
                <input name="postal_country" value="{{ company['Postal_Country'] }}" placeholder="country">
                <input name="postal_city" value="{{ company['Postal_City'] }}" placeholder="city">
                <input name="postal_street" value="{{ company['Postal_Street'] }}" placeholder="street">
                <input name="postal_post_code" value="{{ company['Postal_Post_Code'] }}" placeholder="post code">
            </div>
            {% if company['Company_ID'] %}
                <div class="contact_info">
                    <label>Contacts:</label>
                    <input type="submit" name="action" value="Add Contact">
                </div>
            {% endif %}
        {% else %}
            <div>
                <label for="company">Company Name</label>
                <input name="company" id="company" required>
                <input type="submit" name="action" value="Save">
            </div>
            <div class="location">
                <label>Location Address</label>
                <input name="location_country" id="location_country" placeholder="country">
                <input name="location_city" id="location_city" placeholder="city">
                <input name="location_street" id="location_street" placeholder="street">
                <input name="location_post_code" id="location_post_code" placeholder="post code">
            </div>
            <div class="postal">
                <label>Postal Address</label>
                <input name="postal_country" id="postal_country" placeholder="country">
                <input name="postal_city" id="postal_city" placeholder="city">
                <input name="postal_street" id="postal_street" placeholder="street">
                <input name="postal_post_code" id="postal_post_code" placeholder="post code">
            </div>
        {% endif %}
    </form>
    {% if company and company['Company_ID'] %}
        {% if contacts %}
            <div class="contacts_list">
                <table class="fixed_header">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Phone_Work</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in contacts %}
                            <tr>
                                <td>{{ contact['Title_ID'] }}</td>
                                <td>{{ contact['Contact_Name'] }}</td>
                                <td>{{ contact['Role'] }}</td>
                                <td>{{ contact['Phone_Work'] }}</td>
                                <td>{{ contact['Email'] }}</td>
                                <td>
                                    <form  action="{{ url_for('edit.edit_contact') }}" method="post">
                                        <div>
                                            <input type="hidden" name="contact_id" value="{{ contact['Contact_ID'] }}">
                                            <input type="submit" name="action" value="Edit">
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div>
                <label>The current company does not have any contact information</label>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}