<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>IT703-A1</title>
<link rel="stylesheet" href="{{ url_for('static', filename='edit_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<nav>
  <h1>IT703-A1</h1>
  <ul>
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
  </ul>
</nav>
<body>
    <div class="mainBox">
        <div class="leftBox">
            <div class="menuItem customers">
                <a href="{{ url_for('edit.show_customer') }}">Customers</a>
            </div>
            <div class="menuItem contacts">
                <a href="{{ url_for('edit.show_contact') }}">Contacts</a>
            </div>
        </div>
        <div class="rightBox">
            <form  action="{{ url_for('edit.search') }}" method="post">
                <div>
                    <label for="search_name">Search</label>
                    <input name="search_name" id="search_name" required  placeholder="Search for company...">
                    <input type="submit" value="Search">
                </div>
            </form>
            <form method="post">
                <input type="hidden" name="company_id" value="">
                <div>
                    <label for="company">Company Name</label>
                    <input name="company" id="company" required>
                </div>
                <div class="location">
                    <label>Location Address</label>
                    <input name="location_country" id="location_country" placeholder="country">
                    <input name="location_city" id="location_city" placeholder="city">
                    <input name="location_street" id="location_street" placeholder="street">
                    <input name="location_post_code" id="location_post_code" placeholder="post code">
                </div>
                <div class="postal">
                    <label>Postal Address</label>
                    <input name="postal_country" id="postal_country" placeholder="country">
                    <input name="postal_city" id="postal_city" placeholder="city">
                    <input name="postal_street" id="postal_street" placeholder="street">
                    <input name="postal_post_code" id="postal_post_code" placeholder="post code">
                </div>
                <div class="contacts">
                    <label>Contacts:</label>
                </div>
            </form>
        </div>
    </div>
</body>
</html>